{% extends 'AppBundle::base.html.twig' %}
{% import 'AppBundle::macros.html.twig' as macros %}

{% block title %}
    {{ parent() }}
    {% trans %}
    &nbsp;-&nbsp;Public Profile
    {% endtrans %}
{% endblock %}

{% block content %}
    <h3>{{ user.fullName }}</h3>
    {{ macros.activity_block(activityBlock) }}
    {{ macros.issues_block(issuesBlock) }}
{% endblock %}
